@model UserManagement.Web.Models.Users.UserListViewModel

<h2>User List</h2>

<div class="table-responsive mb-4">
    <table class="table table-striped align-middle">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.DateOfBirth?.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-info-circle-fill"></i> View
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-action="Edit"
                                       asp-route-id="@item.Id"
                                       asp-route-returnUrl="@Url.Action("List", "Users")">
                                        <i class="bi bi-pencil-fill"></i> Edit
                                    </a>
                                </li>                                
                                <li>
                                    <a class="dropdown-item text-danger"
                                       data-bs-toggle="modal"
                                       data-bs-target="#deleteModal"
                                       data-user-id="@item.Id"
                                       data-user-name="@($"{item.Forename} {item.Surname}")">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" class="btn btn-outline-secondary @(Model.IsActive == null ? "active" : "")">Show All</a>
        <a asp-controller="Users" asp-action="List" asp-route-isActive="true" class="btn btn-outline-secondary @(Model.IsActive == true ? "active" : "")">Active Only</a>
        <a asp-controller="Users" asp-action="List" asp-route-isActive="false" class="btn btn-outline-secondary @(Model.IsActive == false ? "active" : "")">Non Active</a>
    </div>
    <a asp-action="Create" class="btn btn-primary float-end">
        <i class="bi bi-plus-circle"></i> Add User
    </a>
</div>

@await Html.PartialAsync("_DeleteModal")

@section Scripts {
    <script>
        const deleteModal = document.getElementById('deleteModal')

        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            const userId = button.getAttribute('data-user-id');
            const userName = button.getAttribute('data-user-name');

            document.getElementById("deleteUserId").value = userId;
            document.getElementById("deleteUserName").textContent = userName;

            document.getElementById("deleteForm").action = "/users/delete";
        });
    </script>
}
